/*** home ***/
.home-background{
    -fx-background-image: url('../images/BGI_login.jpg');
}

.login-button{
    -fx-background-image: url('../images/loginButton.png');
    -fx-background-color: transparent;
}
.login-button:pressed{
    -fx-background-image: url('../images/loginButtonPress.png');
    -fx-background-color: transparent;
}
.create-button{
    -fx-background-image: url('../images/createButton.png');
    -fx-background-color: transparent;
}
.create-button:pressed{
    -fx-background-image: url('../images/createButtonPress.png');
    -fx-background-color: transparent;
}
.quit-button{
    -fx-background-image: url('../images/quitButton.png');
    -fx-background-color: transparent;
}
.quit-button:pressed{
    -fx-background-image: url('../images/quitButtonPress.png');
    -fx-background-color: transparent;
}

.heading-label {
    -fx-font-size: 72pt;
    -fx-font-family: "STXingkai";
    -fx-text-fill: orangered;
    -fx-opacity: 1;
}
/*** home login ***/
.mode-button{
    -fx-background-image: url('../images/modeButton.png');
    -fx-background-color: transparent;
}
.mode-button:pressed{
    -fx-background-image: url('../images/modeButtonPress.png');
    -fx-background-color: transparent;
}
.start-button{
    -fx-background-image: url('../images/startButton.png');
    -fx-background-color: transparent;
}
.start-button:pressed{
    -fx-background-image: url('../images/startButtonPress.png');
    -fx-background-color: transparent;
}
.help-button{
    -fx-background-image: url('../images/helpButton.png');
    -fx-background-color: transparent;
}
.help-button:pressed{
    -fx-background-image: url('../images/helpButtonPress.png');
    -fx-background-color: transparent;
}
.logout-button{
    -fx-background-image: url('../images/logoutButton.png');
    -fx-background-color: transparent;
}
.logout-button:pressed{
    -fx-background-image: url('../images/logoutButtonPress.png');
    -fx-background-color: transparent;
}

/*** create ***/
.create-background{
    -fx-background-image: url('../images/BGI_create.jpg');
}
.home-button{
    -fx-background-image: url('../images/homeButton.png');
    -fx-background-color: transparent;
}
.home-button:pressed{
    -fx-background-image: url('../images/homeButtonPress.png');
    -fx-background-color: transparent;
}
.label-sing-up{
    -fx-font-size: 12pt;
    -fx-text-fill: white;
}


/*** level ***/
.level-background0{
    -fx-background-image: url('../images/BGI_level0.jpg');
}
.level-background1{
    -fx-background-image: url('../images/BGI_level1.jpg');
}
.level-background2{
    -fx-background-image: url('../images/BGI_level2.jpg');
}
.level-background3{
    -fx-background-image: url('../images/BGI_level3.jpg');
}
.level-background4{
    -fx-background-image: url('../images/BGI_level4.jpg');
}
.level-background5{
    -fx-background-image: url('../images/BGI_level5.jpg');
}
.profile-button{
    -fx-background-image: url('../images/profileButton.png');
    -fx-background-color: transparent;
}
.profile-button:pressed {
    -fx-background-image: url('../images/profileButtonPress.png');
    -fx-background-color: transparent;
}
/*** help ***/
.help-background{
    -fx-background-image: url('../images/BGI_help.jpg');
}
.help-info-background{
    -fx-background-image: url('../images/BGI_help_info.jpg');
}
/*** play ***/
.play-background{
    -fx-background-image: url('../images/BGI_play.jpg');
}

.restart-button{
    -fx-background-image: url('../images/restartButton.png');
    -fx-background-color: transparent;
}
.restart-button:pressed {
    -fx-background-image: url('../images/restartButtonPress.png');
    -fx-background-color: transparent;
}
.next-button{
    -fx-background-image: url('../images/nextButton.png');
    -fx-background-color: transparent;
}
.next-button:pressed {
    -fx-background-image: url('../images/nextButtonPress.png');
    -fx-background-color: transparent;
}
.pause-button{
    -fx-background-image: url('../images/pauseButton.png');
    -fx-background-color: transparent;
}
.pause-button:pressed {
    -fx-background-image: url('../images/pauseButtonPress.png');
    -fx-background-color: transparent;
}
.unpause-button{
    -fx-background-image: url('../images/unpauseButton.png');
    -fx-background-color: transparent;
}
.unpause-button:pressed {
    -fx-background-image: url('../images/unpauseButtonPress.png');
    -fx-background-color: transparent;
}

.timer-label{
    -fx-font-size: 36pt;
    -fx-font-family: "STXingkai";
    -fx-text-fill: orangered;
    -fx-opacity: 1;
}
.level-label{
    -fx-font-size: 36pt;
    -fx-font-family: "STXingkai";
    -fx-text-fill: yellow;
}

.score-background{
    -fx-background-image: url('../images/BGI_score.jpg');
}
.current-word-label{
    -fx-font-size: 20pt;
    -fx-text-fill: yellow;
}
.discover-word-label{
    -fx-font-size: 20pt;
    -fx-text-fill: orangered;
}
.total-word-label{
    -fx-font-size: 20pt;
    -fx-text-fill: blue;
}
.target-word-label{
    -fx-font-size: 20pt;
    -fx-text-fill: red;
}
.mode-label{
    -fx-font-size: 27pt;
    -fx-text-fill: white;
}
.mode-picked-label{
    -fx-font-size: 27pt;
    -fx-text-fill: yellow;
}
.exit-background{
    -fx-background-image: url('../images/BGI_exit.jpg');
}